  .contenedor h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  .contenedor-principal {
    width: 960px; 
    margin: 0 auto;
    position: relative;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  
  .contenido {
    margin-top: 120px; 
  }
 
  .elemento {
    background-image: url('file:///C:/Users/34673/OneDrive/Escritorio/SMX2-M8-WEB-BATMAN/imagenes%20Batman/header_background.jpg');
    background-size: contain;
  }
  footer {
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: #fff;
  }
  img {
    width: 300px;
    height: 250px;
  }
 
  
  


