  img {
    display: block; 
    margin: auto; 
  }
  body {
    margin: 0 auto;
    width: 50%; 
  }
  footer {
    width: 20%;
    margin: 0 auto; 
  }
  body {
  font-family: 'Golos Text', sans-serif;
  }
  #identified {
    color: rgb(0, 0, 0);
  }
  #identified {
    font-size: xx-large;
}